#wrapper{
  display: grid;
  grid-template-rows:20% 40% 40%;
  justify-items: center;
}
#editor{
  width: 500px;
  height: 250px;
  border-color: cornflowerblue;
}
#preview{
  width: 506px;
  height: auto;
  background-color: cornflowerblue;
  margin: 1rem;
}